/* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a,
  .btn,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Italiana', serif;
  }
  
  p {
    color: #404040;
  }
  
  /* NavBar Border Box On Hover */
  
  #menuItems {
    margin-top: -12px;
  }
  
  #MenuItems a {
    border: 5px solid #ffffff;
    color: #000000;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
  }
  
  #MenuItems a:hover,
  a:focus,
  a:active {
    box-shadow: 0 0 0 1px hsl(0, 0%, 0%);
  }
  
  a:active {
    cursor: wait;
  }
  
  /* Login Page Styling */
  
  .btn {
    display: inline-block;
    background: blue;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  
  .btn:active {
    cursor: wait;
  }
  
  .btn:hover,
  .btn:focus,
  .btn:active {
    background: blue;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  
  form .btn:focus {
    outline: none;
  }
  
  .form-btn {
    display: inline-block;
  }
  
  .form-container {
    background: #ffffff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 75px;
    transition: transform 1s;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #808080;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #404040;
  }
  
  form input:focus {
    outline: none;
  }
  
  #indicator {
    width: 100px;
    border: none;
    background: blue;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }
  
  #LoginForm {
    left: -300px;
  }
  
  .login-page {
    padding: 50px 0;
    background: #ffffff;
  }
  
  #RegForm {
    left: 0;
  }
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Navigation Bar Styling */
  
  .menu-icon {
    display: none;
    width: 28px;
    margin-left: 20px;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  /* Footer Styling */
  
  .app-logo {
    margin-top: 20px;
  }
  
  .app-logo img {
    display: block;
    margin-bottom: 20px;
    width: 140px;
  }
  
  .copyright {
    text-align: center;
  }
  
  .footer {
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer hr {
    border: none;
    background: #bfbfbf;
    height: 1px;
    margin: 20px 0;
  }
  
  .footer h3 {
    color: blue;
    margin-bottom: 20px;
  }
  
  .footer li {
    display: block;
  }
  
  .footer p {
    margin-top: 80px;
    color: #404040;
  }
  
  .footer-col1 {
    flex-basis: 30%;
    margin-top: 48px;
  }
  
  .footer-col2,
  .footer-col3 {
    flex-basis: 12%;
    text-align: center;
  }
  
  .footer-col1,
  .footer-col2,
  .footer-col3 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  /* Small Container */
  
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 90px;
  }
  
  /* Products Styling */
  
  .page-btn {
    padding-top: 50px;
    margin: 0 auto 80px;
  }
  
  .page-btn span {
    display: inline-block;
    border: 1px solid blue;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  
  .page-btn span:hover {
    background: blue;
    color: #fff;
  }
  
  .row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
  }
  
  select {
    border: 1px solid blue;
    padding: 5px;
  }
  
  select:focus {
    outline: none;
  }
  
  .small-container-2 {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  /* Product Details Styling */
  
  input:focus {
    outline: none;
  }
  
  .relative-positioning {
    position: relative;
    top: -30px;
  }
  
  .single-product {
    margin-top: 80px;
  }
  
  .single-product .col-2 {
    padding: 20px;
  }
  
  .single-product .col-2 img {
    padding: 0;
  }
  
  .single-product .fa {
    color: blue;
    margin-left: 10px;
  }
  
  .single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid blue;
  }
  
  .single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  
  .small-container-3 {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }
  
  .small-img-row {
    display: flex;
    justify-content: space-between;
  }
  
  /* Home Page Styling */
  
  .header {
    background: #ffffff;
  }
  
  #relative-positioning {
    position: relative;
    top: 30px;
  }
  
  .relative-positioning-2 {
    position: relative;
    top: -60px;
  }
  
  /* Featured Products */
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .col-4:hover {
    transform: translateY(-5px);
  }
  
  .col-4 img {
    width: 100%;
  }
  
  .col-4 p {
    font-size: 14px;
  }
  
  h1 {
    margin-bottom: 16px;
  }
  
  h4 {
    color: #000000;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .rating .fa {
    color: blue;
  }
  
  .title {
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: #000000;
  }
  
  .title::after {
    content: '';
    background: blue;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Special Offer */
  
  .col-2 .offer-img {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -60px;
  }
  
  .offer {
    background: #ffffff;
    margin-top: 80px;
    padding: 30px 0;
  }
  
  small {
    color: #404040;
  }
  
  /* Testimonials */
  
  .col-4 p {
    font-size: 12px;
    margin: 12px 0px;
    color: #404040;
  }
  
  .fa.fa-quote-left {
    font-size: 34px;
    color: blue;
  }
  
  .row-3 {
    display: block;
  }
  
  .testimonial {
    padding-top: 100px;
  }
  
  .testimonial .col-4 {
    text-align: center;
    padding: 40px 20px 40px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .testimonial .col-4:hover {
    transform: translateY(-10px);
  }
  
  .testimonial .col-4 h3 {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    margin-top: 16px;
  }
  
  .testimonial .col-4 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  /* Upload Page */
  
  #indicator-2 {
    width: 100px;
    border: none;
    background: blue;
    height: 3px;
    margin-top: 8px;
  }
  
  #indicator-3 {
    width: 100px;
    border: none;
    background: blue;
    height: 3px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  
  input::file-selector-button {
    background: blue;
    border: none;
    color: #ffffff;
    display: inline-block;
    font-family: 'Italiana', serif;
  }
  
  input::file-selector-button:active {
    cursor: wait;
  }
  
  input::file-selector-button:hover,
  input::file-selector-button:focus {
    cursor: pointer;
  }
  
  input::file-selector-button:hover,
  input::file-selector-button:focus,
  input::file-selector-button:active {
    background: blue;
  }
  
  #picture {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: hidden;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 33px;
  }
  
  #picture:focus {
    outline: none;
  }
  
  #span-margin-top {
    margin-top: 10px;
  }
  
  .title-2 {
    text-align: center;
    margin: 40px auto 40px;
    position: relative;
    line-height: 60px;
    color: #000000;
  }
  
  .title-2::after {
    content: '';
    background: blue;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .upload-form-container {
    background: #ffffff;
    width: 300px;
    height: 535px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .upload-form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 75px;
    transition: transform 1s;
  }
  
  .upload-form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #808080;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  .upload-page {
    padding: 50px 0;
    background: #ffffff;
  }
  
  /* Account Page Styling */
  
  #account-margins {
    margin-top: 20px;
  }
  
  #account-margins-2 {
    margin-top: 40px;
    text-align: center;
  }
  
  #account-margins-3 {
    margin-top: 80px;
    text-align: center;
  }
  
  #custom-font-size {
    font-size: x-large;
    font-weight: bold;
  }
  
  #custom-font-size-2 {
    font-size: medium;
    font-weight: bold;
  }
  
  /* Media Query 912px & Under */
  
  @media only screen and (max-width: 912px) {
    .col-2 .offer-img {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: -60px;
    }
  
    .small-container {
      max-width: 600px;
      margin: auto;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 90px;
    }
  
    .small-container-2 {
      max-width: 600px;
      margin: auto;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 90px;
    }
  
    .small-container-3 {
      max-width: 600px;
      margin: auto;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 90px;
    }
  }
  
  /* Devices Between 820px and 912px */
  
  @media only screen and (max-width: 912px) and (min-width: 820px) {
    .col-2 img {
      margin-bottom: 48px;
    }
  
    .col-3 img {
      margin-bottom: 48px;
    }
  
    .small-container {
      max-width: 500px;
    }
  }
  
  /* Media Query 820px & Under */
  
  @media only screen and (max-width: 820px) {
    .col-2 img {
      margin-bottom: 60px;
    }
  
    .col-3 img {
      margin-top: 20px;
    }
  
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  
    #MenuItems {
      position: absolute;
      z-index: 1;
    }
  
    #MenuItems a {
      border: none;
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      text-decoration: none;
    }
  
    #MenuItems a:hover,
    a:focus,
    a:active {
      box-shadow: none;
    }
  
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: 1s;
      max-height: 0;
      transition: max-height 0.5s;
    }
  
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a {
      color: #fff;
    }
  
    #relative-positioning {
      position: relative;
      top: 80px;
    }
  }
  
  /* Devices Between 600px and 820px */
  
  @media only screen and (max-width: 820px) and (min-width: 600px) {
    .col-4 {
      min-width: none;
      max-width: 400px;
    }
  }
  
  /* Media Query 600px & Under */
  
  @media only screen and (max-width: 600px) {
    .app-logo img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  
    .col-1,
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  
    .row {
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 600px) and (min-width: 550px) {
    .footer-col1 {
      margin-top: 12px;
    }
  }
  
