body {

  color: rgb(17, 18, 18);
  background-image: linear-gradient(black, rgb(84, 88, 89), rgb(116, 119, 119),
      rgb(16, 16, 16));
}


container {
  position: relative;
}


/* div {
  display: flex-box;
  flex-direction: row-reverse;
  padding: 50px;
  background-color: rgb(74, 97, 108);
  box-sizing: border-box 30px;
  border: 10px solid rgb(10, 57, 98);
  font-size: 40px;
  text-align: center;
  display: center;
  margin: auto;
  width: 60%;
  height: 60%;
  padding: 50px;

} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
div#header {
  display: flex-box;
  flex-direction: row-reverse;
  padding: 50px;
  background-color: rgb(233, 238, 240);
  box-sizing: border-box 30px;
  border: 10px solid rgb(10, 57, 98);
  font-size: 40px;
  text-align: center;
  display: center;
  margin: auto;
  width: 70%;
  height: 50%;
  padding: 20px;
}

div#root {
  display: flex-box;
  flex-direction: row-reverse;
  padding: 50px;
  background-color: rgb(74, 107, 120);
  box-sizing: border-box 30px;
  border: 10px solid rgb(10, 57, 98);
  font-size: 40px;
  text-align: center;
  display: center;
  margin: auto;
  width: 55%;
  height: 60%;
  padding: 50px;
}

form {
  display: flex-box;
  flex-direction: row-reverse;
  padding: 50px;
  background-color: rgb(74, 97, 108);
  box-sizing: border-box 30px;
  border: 10px solid rgb(10, 57, 98);
  font-size: 33px;
  text-align: center;
  display: center;
  margin: auto;
  width: 60%;
  height: 60%;
  padding: 50px;

}

p {
  color: #f5f1f1;
}

button {
  display: inline-flex;
  text-align: center;
  background-color: rgb(70, 70, 74);
  color: #ffffff;

  padding: 15px 50px;
  margin: 10px 10px;

  border-radius: 30px;
  transition: background 0.5s;
  font-size: 20px;

}

button:active {
  cursor: wait;
}

button:hover,
btn:active {
  background: rgb(89, 176, 213);
}


/* btn {
  display: inline-block;
  background: rgb(9, 9, 101);
  color: #ffffff;
  padding: 20px 30px;
  margin: 30px 50px;
  border-radius: 30px;
  transition: background 0.5s;

}

btn:active {
  cursor: wait;
} */

/* btn:hover,
btn:active {
  background: rgb(89, 176, 213);
} */

container {

  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

.form-btn {
  display: inline-block;
}

.form-container {
  background: #cbc7c7;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 75px;
  transition: transform 1s;
}


/* Media Query 912px & Under */

@media only screen and (max-width: 912px) {
  .col-2 .offer-img {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -60px;
  }

  /* .small-container {
    max-width: 600px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 90px;
  }

  .small-container-2 {
    max-width: 600px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 90px;
  } */

  .small-container-3 {
    max-width: 600px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 90px;
  }
}

/* Devices Between 820px and 912px */

@media only screen and (max-width: 912px) and (min-width: 820px) {
  .col-2 img {
    margin-bottom: 48px;
  }

  .col-3 img {
    margin-bottom: 48px;
  }

  .small-container {
    max-width: 500px;
  }
}

/* Media Query 820px & Under */

@media only screen and (max-width: 820px) {
  .col-2 img {
    margin-bottom: 60px;
  }

  .col-3 img {
    margin-top: 20px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  #MenuItems {
    position: absolute;
    z-index: 1;
  }


  #relative-positioning {
    position: relative;
    top: 80px;
  }

  .mobile-break1 {
    text-align:center;
  }
}

/* Devices Between 600px and 820px */

@media only screen and (max-width: 820px) and (min-width: 700px) {
  .col-4 {
    min-width: none;
    max-width: 400px;
  }
}

/* Media Query 600px & Under */

@media only screen and (max-width: 600px) {
  .app-logo img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  /* .col-1,
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  } */

  .row {
    text-align: center;
  }
}

@media only screen and (max-width: 700px) and (min-width: 600px) {
  .footer-col1 {
    margin-top: 12px;
  }
}