:root {
    --chiliRed: #d64933;
    --deepBlue: #003c53;
    --deepPurp: #242038;
    --greenBlue: #2364aa;
    --liteBlue: #3da5d9;
    --litePink: #eee5e9;
    --mikado: #fec601;
    --pumpkin: #ea7317;
    --verdigris: #73bfb8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-title {
    color: var(--deepPurp);
    width: 100%;
    font-size: 6.66vw;
    padding: 0;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: rgb(30, 50, 100);
    margin: 1rem 0;
}

.input-field {
    height: calc(1px + 2vw);
    font-size: calc(5px + 1vw);
    text-align: center;
    margin-left: 0.5rem;
    position: relative;
    top: calc(0rem + 0.5vw);
}

#username {
    width: 50%;
}

#pwd {
    width: 50%;
}

.error-text {
    font-size: 5vw;
}

#btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-btn {
    margin: calc(0rem + 0.9vw) 0;
    padding: 0;
    width: 50%;
    height: calc(0.38rem + 2.5vw);
    font-size: 2vw;
}