:root {
    --chiliRed: #d64933;
    --deepBlue: #003c53;
    --deepPurp: #242038;
    --greenBlue: #2364aa;
    --liteBlue: #3da5d9;
    --litePink: #eee5e9;
    --mikado: #fec601;
    --pumpkin: #ea7317;
    --verdigris: #73bfb8;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-title {
    width: 100%;
    font-size: 6.66vw;
    padding: 0;
}

.flex-row {
    width: 100%;
    font-size: 4vw;
}

/* .input-field {
    height: 2vh;
    text-align: center;
} */

#signupUsername {
    width: 50%;
}

#email {
    width: 50%;
}

#signupPwd {
    width: 50%;
}

.error-text {
    font-size: 5vw;
}

#btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

#signup-btn {
    padding: 0;
    width: 50%;
    height: 2.5vh;
    font-size: 2vw;
}