:root {
    --chiliRed: #d64933;
    --deepBlue: #003c53;
    --deepPurp: #242038;
    --greenBlue: #2364aa;
    --liteBlue: #3da5d9;
    --litePink: #eee5e9;
    --mikado: #fec601;
    --pumpkin: #ea7317;
    --verdigris: #73bfb8;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-title {
    width: 100%;
    font-size: 6.66vw;
    padding: 0;
}

.flex-row {
    width: 100%;
    font-size: 4vw;
}


#signupUsername {
    width: 50%;
}

#email {
    width: 50%;
}

#signupPwd {
    width: 50%;
}

.error-text {
    font-size: 5vw;
}

#btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-btn {
    margin: 1rem 0;
    padding: 0;
    width: 50%;
    height: calc(0.38rem + 2.5vw);
    font-size: 2vw;
}