:root {
    --chiliRed: #d64933;
    --deepBlue: #003c53;
    --deepPurp: #242038;
    --greenBlue: #2364aa;
    --liteBlue: #3da5d9;
    --litePink: #eee5e9;
    --mikado: #fec601;
    --pumpkin: #ea7317;
    --verdigris: #73bfb8;
  }

.logo-container {
    background-color: var(--litePink);
    border-radius: 4vw / 25%;
}

.header-logo {
    width: 50vw;
    position: relative;
    top: 0.7vw;
}

