.dropDownBtns {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 40vw;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1vw;
}

.dropDownBtns button {
    flex: 0.5 1 auto;
    font-size: 5vw;
    height: 12vh;
    margin: 5px;
}





@media only screen and (min-width: 640px) {
    .dropDownBtns {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 55vw;
    }
    .dropDownBtns button {
        font-size: calc(10px + 2vw);
        height: 10vh;
        padding: 0 18px;
    }
}

@media only screen and (min-width: 820px) {
    .dropDownBtns {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70vw;
    }
    .dropDownBtns button {
        font-size: calc(2px + 1.5vw);
        height: 12vh;
        padding: 0 calc(50px - 1vw);
    }
}