:root {
    --chiliRed: #d64933;
    --deepBlue: #003c53;
    --deepPurp: #242038;
    --greenBlue: #2364aa;
    --liteBlue: #3da5d9;
    --litePink: #eee5e9;
    --mikado: #fec601;
    --pumpkin: #ea7317;
    --verdigris: #73bfb8;
  }

.dropDownBtns {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 40vw;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1vw;
}

.dropDownBtns button {
    flex: 0.5 1 auto;
    font-size: 5vw;
    height: 12vh;
    margin: 5px;
}





@media only screen and (min-width: 640px) {
    .dropDownBtns {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 55vw;
    }
    .dropDownBtns button {
        font-size: calc(8px + 1.5vw);
        height: 10vh;
        padding: 0 18px;
    }
}

@media only screen and (min-width: 820px) {
    .dropDownBtns {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 65vw;
    }
    .dropDownBtns button {
        font-size: calc(5px + 1.5vw);
        height: 12vh;
        padding: 0 calc(50px - 1vw);
    }
}