.user-container {
  display: flex;
  flex-direction: column;
  color: rgb(238, 238, 238);
  width: 70vw;
}

.halfsies {
  display: flex;
  flex-direction: column;
}

.user-welcome {
  font-size: 5vw;
  position: relative;
  bottom: 3.5rem;
}

.user-age {
  font-size: 3vw;
  position: relative;
  bottom: calc(4rem - 1.5vw);
}

.input-container {
    width: 40vw;
    max-width: 570px;
    margin: 0 auto;
}

.input-label {
  position: relative;
  bottom: 3.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 3.5rem;
  align-items: left;
}

.input {
  font-size: 3vw;
  text-align: center;
  position: relative;
  bottom: calc(4.5rem - 1vw);
  max-width: 570px;
}

.ice-breaker {
  font-size: 1.5vw;
  color: rgb(89, 176, 213);
  position: relative;
  bottom: calc(4rem - 2vw);
}

.user-button {
    margin: 0.5rem auto;
    width: 30vw;
    position: relative;
    bottom: 1rem;
    font-size: calc(0.9rem + 0.75vw);
    color: black;
    background-color: rgb(238, 238, 238);
}

.user-button:hover {
    color: rgb(238, 238, 238);
    background-color: rgb(89, 176, 213);
}

#delete-btn:hover {
    background-color: rgb(190, 0, 0);
}

